@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#accord-container {
  background: url("/assets/what_we_do-bg.png");
}
#left-content {
  font-family: "poppins", sans-serif;
}

.items {
  border-top: 1.3px solid black;
  border-bottom: 1.3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease;
}
.items h2 {
  flex-grow: 1; /* Ensure text fills the space */
}

.icon {
  margin-left: 1rem; /* Add spacing between text and icon */
}
.items:hover {
  border-color: #8cc540;
}
.ellipses {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: rgb(140, 197, 64);
  background: linear-gradient(
    90deg,
    rgba(140, 197, 64, 1) 0%,
    rgba(229, 255, 194, 1) 51%
  );
}
.item {
  flex: 0 0 33.33% !important; /* Each item takes 1/3 of the container width (for 3 columns) */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

@font-face {
  font-family: "Thunder";
  src: url("THUNDER/Fonts/Web-PS/Thunder-SemiBoldLC.woff2") format("woff2");

  /* font-weight: normal;
  font-style: normal; */
}

/* @font-face {
  font-family: "PPMonument";
  src: url("PPMONUMENT/MonumentExtended-Regular.otf") format("otf");
} */

@font-face {
  font-family: "PPMonument"; /* Name for your custom font */
  src: url("PPMONUMENT/PP Monument Extended/PP Monument Extended.woff2")
    format("woff2"); /* Path to the .otf file */
  font-weight: normal; /* Specify the weight (normal, bold, etc.) */
  font-style: normal; /* Specify the style (normal, italic, etc.) */
}

@font-face {
  font-family: "PP Monument Extended";
  src: url("PPMONUMENT/PP Monument Extended/Web Fonts/2bc662e7204dfbe2bf8d7b6f4eb6f446.eot");
  src: url("PPMONUMENT/PP Monument Extended/Web Fonts/2bc662e7204dfbe2bf8d7b6f4eb6f446.eot?#iefix")
      format("embedded-opentype"),
    url("PPMONUMENT/PP Monument Extended/Web Fonts/2bc662e7204dfbe2bf8d7b6f4eb6f446.woff")
      format("woff"),
    url("PPMONUMENT/PP Monument Extended/Web Fonts/2bc662e7204dfbe2bf8d7b6f4eb6f446.woff2")
      format("woff2"),
    url("PPMONUMENT/PP Monument Extended/Web Fonts/2bc662e7204dfbe2bf8d7b6f4eb6f446.ttf")
      format("truetype"),
    url("PPMONUMENT/PP Monument Extended/Web Fonts/2bc662e7204dfbe2bf8d7b6f4eb6f446.svg#PP Monument Extended")
      format("svg");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wght" 900, "ital" 100;
}

/* Optional: Define a custom class for the font */
.font-monument {
  font-family: "PPMonument", sans-serif; /* Fallback to a system font if unavailable */
}
@font-face {
  font-family: "Porter";
  src: url("PORTER/porter-sans-inline-block-webfont.eot");
  src: url("PORTER/porter-sans-inline-block-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("PORTER/porter-sans-inline-block-webfont.woff") format("woff"),
    url("PORTER/porter-sans-inline-block-webfont.ttf") format("truetype"),
    url("PORTER/porter-sans-inline-block-webfont.svg#porter_sans_blockblock")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

#footer {
  background: url("/assets/image 6.png");
  object-fit: cover;
}

@keyframes leftToRight {
  from {
    transform: translate(-200px, -50px) rotate(-20deg);
    background-image: url("/assets/ecom.webp");
  }
  to {
    transform: translate(calc(100vw - 550px), -50px) rotate(-340deg);
    background-image: url("/assets/pexels-yankrukov-7691745.jpg");
  }
}

@keyframes rightToLeft {
  from {
    transform: translate(calc(100vw - 550px), -50px) rotate(-340deg);
    background-image: url("/assets/pexels-yankrukov-7691745.jpg");
  }
  to {
    transform: translate(-200px, -50px) rotate(-20deg);
    background-image: url("/assets/ecom.webp");
  }
}

@keyframes pinnerForward {
  from {
    left: calc(100vw - 300px);
    height: 250px;
    width: 250px;
    background-image: url("/assets/pinner-black.svg");
  }
  to {
    left: 400px;
    transform: rotate(-90deg);
    height: 150px;
    width: 150px;
    background-image: url("/assets/pinner.svg");
  }
}
@keyframes pinnerBackward {
  from {
    left: 400px;
    transform: rotate(-90deg);
    height: 150px;
    width: 150px;
    background-image: url("/assets/pinner.svg");
  }
  to {
    left: calc(100vw - 300px);
    height: 250px;
    width: 250px;
    background-image: url("/assets/pinner-black.svg");
  }
}

@keyframes clipLeanForward {
  from {
    transform: scaleX(-1);
    background-image: url("/assets/OBJECTS-white.svg");
  }
  to {
    transform: scaleX(1);
    background-image: url("/assets/OBJECTS.svg");
  }
}
@keyframes clipLeanBackward {
  from {
    transform: scaleX(1);
    background-image: url("/assets/OBJECTS.svg");
  }
  to {
    transform: scaleX(-1);
    background-image: url("/assets/OBJECTS-white.svg");
  }
}

#marketing-page {
  background-color: white;
  transition: background-color 2s ease-in-out;
  &.right {
    background-color: #232233;
  }
  &.left {
    background-color: white;
  }

  .main-image-grp {
    border-radius: 28px;
    min-height: 700px;
    max-height: 700px;
    min-width: 700px;
    max-width: 700px;
    z-index: 1;
    transform: translate(-200px, -50px) rotate(-20deg);
    background-image: url("/assets/ecom.webp");
    background-size: cover; /* Ensures the image covers the container */
    background-attachment: fixed; /* Keeps the background fixed in place when scrolling */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Avoids repeating the background */
    transition: background-image 0.5s ease-in-out;
    &.right {
      animation: leftToRight 2s forwards;
    }
    &.left {
      animation: rightToLeft 2s forwards;
    }
  }

  .pinner {
    height: 250px;
    width: 250px;
    bottom: 50px;
    background-image: url("/assets/pinner-black.svg");
    background-size: cover; /* Ensures the image covers the container */ /* Keeps the background fixed in place when scrolling */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Avoids repeating the background */
    left: calc(100vw - 300px);
    &.right {
      animation: pinnerForward 2s forwards;
    }
    &.left {
      animation: pinnerBackward 2s forwards;
    }
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
  }

  .clip {
    height: 475px;
    width: 405px;
    bottom: 0px;
    background-image: url("/assets/OBJECTS-white.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    left: calc(100vw - 1200px);
    transition: transform 2s ease-in-out;
    &.right {
      animation: clipLeanForward 2s forwards;
    }
    &.left {
      animation: clipLeanBackward 2s forwards;
    }
    /* transition: height 0.5s ease-in-out, width 0.5s ease-in-out; */
  }

  .content {
    transition: color 2s ease-in-out;
    /* margin-right: -180px; */
    /* transition */
    /* width: 25%; */
  }
}

.contact-section-bg {
  background-image: url("/assets/crumbple-no-blend.png");
  background-color: #232233;
  background-blend-mode: multiply;
}
